<definition>
    {
      id:"image_slider",
      label:"Image Slider",
      className:"ImageSliderServer",
      renderable:"true"
    }
</definition>

<style>
    .wrapper {
        width: 100%;
        margin: 20px 0;
        padding: 0 30px;
    }
    h2 {
        padding: 10px 30px;
    }
</style>

<attributes> [] </attributes>

<attributes_layout> [] </attributes_layout>

<attributes_display_rules> [] </attributes_display_rules>

<template name="test.container">
    <h2>
      List Images
    </h2>
    <div class="wrapper">
      <p>List</p>
    </div>
  </template>

<script>
	exports.component = ComponentUI.create({
		onRender: function(data) {
			this.template('test.container', this.container, data, this.attributes);
        },
        
		className: "ImageSliderClient"
	});
</script>